<div *ngIf="!(auth.isAuthenticated$ | async)">
  <app-login></app-login>
</div>
<div *ngIf="auth.isAuthenticated$ | async">
  <div class="container">
    <button (click)="logout()" class="logout-button">Logout</button>
    <h1>Lista de Compras</h1>
    <app-add-item-form (addItem)="addItem($event)"></app-add-item-form>
    <app-item-list [items]="items" 
                   (togglePurchased)="toggleItemPurchased($event)" 
                   (remove)="removeItem($event)"></app-item-list>
  </div>
</div>