<h2>Itens Não Comprados</h2>
<ul>
  <li *ngFor="let item of notPurchasedItems">
    <input type="text" [(ngModel)]="item.name" *ngIf="editItemId === item.id" />
    <span *ngIf="editItemId !== item.id" [class.purchased]="item.isPurchased">{{ item.name }}</span>
    <div class="divBotao">
      <button *ngIf="editItemId !== item.id" (click)="toggleItemPurchased(item.id)">
        <i class="fas" [ngClass]="item.isPurchased ? 'fa-undo' : 'fa-check'"></i> 
        {{ item.isPurchased ? 'Desmarcar' : 'Marcar como Comprado' }}
      </button>   
      <button *ngIf="editItemId !== item.id" (click)="removeItem(item.id)">
        <i class="fas fa-trash"></i> Remover
      </button>
      <button *ngIf="editItemId !== item.id" (click)="editItem(item.id)">
        <i class="fas fa-edit"></i> Editar
      </button>
      <button *ngIf="editItemId === item.id" (click)="saveEdit()">
        <i class="fas fa-save"></i> Salvar
      </button>
      <button *ngIf="editItemId === item.id" (click)="cancelEdit()">
        <i class="fas fa-times"></i> Cancelar
      </button>
    </div>
  </li>
</ul>

<h2>Itens Comprados</h2>
<ul>
  <li *ngFor="let item of purchasedItems">
    <input type="text" [(ngModel)]="item.name" *ngIf="editItemId === item.id" />
    <span *ngIf="editItemId !== item.id" [class.purchased]="item.isPurchased">{{ item.name }}</span>
    <div class="divBotao">
      <button *ngIf="editItemId !== item.id" (click)="toggleItemPurchased(item.id)">
        <i class="fas" [ngClass]="item.isPurchased ? 'fa-undo' : 'fa-check'"></i> 
        {{ item.isPurchased ? 'Desmarcar' : 'Marcar como Comprado' }}
      </button>
      <button *ngIf="editItemId !== item.id" (click)="removeItem(item.id)">
        <i class="fas fa-trash"></i> Remover
      </button>
      <button *ngIf="editItemId !== item.id" (click)="editItem(item.id)">
        <i class="fas fa-edit"></i> Editar
      </button>
      <button *ngIf="editItemId === item.id" (click)="saveEdit()">
        <i class="fas fa-save"></i> Salvar
      </button>
      <button *ngIf="editItemId === item.id" (click)="cancelEdit()">
        <i class="fas fa-times"></i> Cancelar
      </button>
    </div>
  </li>
</ul>